.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark500);
  padding-left: 160px;
  padding-right: 160px;
}

.nav {
  display: flex;
  align-items: center;

  p {
    color: var(--light);
    font-weight: 300;
    padding-left: 8px;
  }
}

.navItem {
  width: 160px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}